// colours

$Moderate_violet: hsl(263, 55%, 52%);
$Very_dark_grayish_blue: hsl(217, 19%, 35%);
$Very_dark_blackish_blue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$Light_gray: hsl(0, 0%, 81%);
$Light_grayish_blue: hsl(210, 46%, 95%);
$shadow-color: hsl(213, 14%, 84%);

//font-weight
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_semiBold: 600;
