:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background-color: var(--Very-Dark-Blue);
  background-image: url(../assets/images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  font-family: 'Raleway', sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  padding-top: 12rem;
  gap: 5rem;
  align-items: baseline;
}
#storage {
  width: 21rem;
  height: 13rem;
  background-color: var(--Dark-Blue);
  border-top-right-radius: 100px;
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  justify-content: center;
  gap: 2.3rem;
  padding-left: 2rem;
}

.img-container {
  display: inline-flex;
  margin-left: 0.8rem;
  padding: 0.8rem;
  border-radius: 10px;
  width: auto;
  height: 3rem;
  background-color: var(--Very-Dark-Blue);
}
.img-container img {
  height: 100%;
  width: 100%;
}
#status {
  width: 30rem;
  height: 10rem;
  background-color: var(--Dark-Blue);
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 2rem;
  position: relative;
}
.status-left {
  padding: 0.875rem 1.3rem;
  background-color: white;
  border-radius: 10px 10px 0px 10px;
  align-self: flex-end;
  position: absolute;
  bottom: 130px;
  color: var(--Very-Dark-Blue);
}
.status-left::before {
  content: '';
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 25px solid white;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 25px solid transparent;
}
.status-left span {
  font-weight: 700;
}
.status-left span:nth-child(1) {
  font-size: 2.3rem;
}
.status-left span:nth-child(2) {
  font-size: 2.5rem;
}
.status-left span:nth-child(3) {
  font-size: 2.3rem;
  margin-right: 0.975rem;
}
.status-left span:nth-child(4) {
  position: relative;
  bottom: 10px;
  font-size: 0.675rem;
  color: var(--Grayish-Blue);
}
.status-text {
  color: var(--Grayish-Blue);
  font-weight: 400;
  font-size: 1rem;
  word-spacing: 0.3rem;
}
.status-text > span {
  font-weight: 700;
  color: var(--Pale-Blue);
}
.progress-bar {
  margin: 0.975rem 0rem;
  border: none;
  background-image: linear-gradient(
    to left,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  background-size: 100% 100%;
  background-position: -120px 0;
  width: 420px;
  background-repeat: no-repeat;
  background-color: var(--Very-Dark-Blue);
  border-radius: 25px;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.progress-bar[value] {
  border-radius: 25px;
}
.progress-bar::after {
  content: '';
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block;
}
