*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
/* navbar */
.btn-try {
  border: 1px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  border-radius: 25px;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5rem 1.3rem;
}
.btn-try:hover {
  color: hsl(322, 100%, 66%);
}
/* Build-Community */
.Build-Community {
  margin-top: 3rem;
}
.Build-Community h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}
.Build-Community p {
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 0.975rem;
}
.btn-pink {
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 0.675rem 3.5rem;
  border-radius: 25px;
}
/* status */
.status p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}
.status img {
  margin-left: -8rem;
}
.status span {
  font-family: 'Open Sans', sans-serif;
  color: hsl(210, 3%, 55%);
}
/* grow-together */
.grow-together::before {
  background-image: url(./images/bg-section-top-desktop-1.svg);
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  height: 10.83vw;
  width: 100%;
  background-size: 100% 10.83vw;
  /* Shift it up by its height */
  top: -10.83vw;
}
.grow-together::after {
  background-image: url(./images/bg-section-top-desktop-2.svg);
  content: '';
  position: absolute;
  transform: scaleY(-1);
  width: 100%;
  background-size: 100% 9.653vw;
  height: 9.653vw;
  top: 100%;
  z-index: -1;
}
.grow-together {
  margin-top: calc(10.83vw);
  margin-bottom: calc(10rem + 9.653vw);
  position: relative;
  background-color: hsl(207, 100%, 98%);
}
.grow-together h2,
.Flowing-Conversations h2,
.Your-Users h2,
.register h2,
footer h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.grow-together p,
.Flowing-Conversations p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}
/* Flowing-Conversations */
.Flowing-Conversations {
  margin: 15rem auto;
}
/* Your-Users */
.Your-Users::before {
  background-image: url(./images/bg-section-top-desktop-1.svg);
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  height: 10.83vw;
  width: 100%;
  background-size: 100% 10.83vw;
  /* Shift it up by its height */
  top: -10.83vw;
}
.Your-Users::after {
  background-image: url(./images/bg-section-top-desktop-2.svg);
  content: '';
  position: absolute;
  transform: scaleY(-1);
  width: 100%;
  background-size: 100% 9.653vw;
  height: 9.653vw;
  top: 100%;
  z-index: -1;
}
.Your-Users {
  position: relative;
  background-color: hsl(207, 100%, 98%);
  margin-top: calc(10.83vw);
  margin-bottom: calc(10rem + 9.653vw);
}
.Your-Users p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}
/* register */
.register {
  margin-top: 18rem;
  margin-bottom: 12rem;
}
/* footer */
footer::before {
  content: '';
  background-image: url(./images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 10.973vw;
  width: 100%;
  background-size: 100% 10.973vw;
  /* Shift it up by its height */
  top: -9.973vw;
}
footer {
  padding-top: 4rem;
  position: relative;
  margin-top: 10.973vw;
  width: 100%;
  background-color: hsl(192, 100%, 9%);
  color: white;
}
.footer-info,
.newsletter p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.975rem;
  font-weight: 400;
  margin: 2rem auto;
}
footer .flex-row p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.975rem;
  font-weight: 400;
  margin-left: 1rem;
}
footer .flex-row img {
  height: 1rem;
}
.social-icons {
  margin-bottom: 5rem;
}
.social-icons a {
  padding: 0.5rem;
  color: white;
}
.social-icons a:hover {
  color: lightskyblue;
}
.social-icons a > i {
  font-size: 1.5rem;
}
.newsletter input {
  width: 18rem;
  border-radius: 10px;
  outline: none;
}
.newsletter button {
  margin-left: 3rem;
  background-color: hsl(321, 100%, 78%);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.5rem 0.875rem;
}
/* attribution */
.attribution a {
  text-decoration: none;
  color: hsl(192, 19%, 46%);
}
